.carousel-wrapper {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    overflow: hidden;
  }
  
  .carousel-img {
    width: 80vw;
    height: 500px;
    object-fit: cover;
    object-position: center center;
  }

 
  
  
  
  
  @media (max-width: 768px) {
    .carousel-img {
      height: 300px;
    }
  }
  
  