@import '../styles/colors.css';
.review-item {
    text-align: center;
    padding: 20px;
   
  }
  
  blockquote {
    font-style: italic;
  }
  
  footer cite {
    font-weight: bold;
    color: var(--orange); 
  }

  .star-rating {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
